body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 80vh;
}

.rating span{
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3{
  padding: 1rem 0;
}

.badge {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: rgb(52, 163, 200);
    color: #fff;
    padding: 0 4px;
    vertical-align: top;
    margin-left: -5px; 
    margin-top: -5px
}

.profileText {
  color: rgb(145, 75, 52);
}

.title {
  font-weight: bold;
  color: rgb(74, 74, 85);
}

.profileOrderId:hover {
  color: #e95420
}


.thankyou {
  font-size: 4rem;
}

.thankbox {
  background-color: #d9bc94;
  border-radius: 20px;
  width: 100%;
  height: 40%;
}

.thankbox > h1 {
  color: #e95420;
  ;
}

.thankbox > p {
  font-size: 2rem;
  color: #444140;
}